.img-contactos{
  margin-top: 7%;
  width: 100%;
  height: 50%;
  padding-bottom: 45%;
  position: relative;
  overflow: hidden;
}
.img-contactos img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}
.contacts h2{
  text-align: center;
  color: var(--blue-color);
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 35px;
}

form{
  padding: 50px;
  background-color: #ffff;
  border-radius: 0.25rem;
}
label, input, textarea{
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea{
  margin-bottom: 40px;
}
.button{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
button{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contacts{
  padding: 2%;
  background-color: var(--lightBlue-color);
  margin-bottom: 5%;
}
.cards-contact{
  display: flex;
  justify-content: space-between;
}
a{
  color: #000000;
}